.form {
  width: 300px;
  margin: 15px auto 0;
}
.sub_title {
  margin-bottom: 0;
}
.outputImg {
  height: 100px;
}

@media screen and (min-width: 768px) {
  .loggin {
    padding: 100px 0;
  }
}
@media screen and (min-width: 1024px) {
}

/* ------------------------------- */
