<section class="body">
  <form class="form" novalidate [formGroup]="userForm">
    <h2 class="sub_title">Datos de usuario</h2>

    <label for="name" class="lbl"
      ><input
        id="name"
        class="input"
        type="text"
        placeholder="Ingrese su nombre"
        autocomplete="off"
        formControlName="name"
      />
      <span>Nombre</span>
    </label>

    <label for="username" class="lbl"
      ><input
        id="username"
        class="input"
        type="text"
        placeholder="Ingrese su apellido"
        autocomplete="off"
        formControlName="surname"
      />
      <span>Apellido</span>
    </label>

    <label for="uu" class="lbl"
      ><input
        id="uu"
        class="input"
        type="text"
        placeholder="Nombre de usuario único"
        autocomplete="off"
        formControlName="username"
        value="username"
      />
      <span>Nombre de usuario único</span>
    </label>

    <label for="age" class="lbl"
      ><input
        id="age"
        class="input"
        type="number"
        placeholder="Ingrese su edad"
        autocomplete="off"
        formControlName="age"
      />
      <span>Edad</span>
    </label>

    <label for="github" class="lbl"
      ><input
        id="github"
        class="input"
        type="text"
        placeholder="Link github"
        autocomplete="off"
        formControlName="github"
      />
      <span>Github</span>
    </label>

    <label for="linkedin" class="lbl"
      ><input
        id="linkedin"
        class="input"
        type="text"
        placeholder="Link Linkedin"
        autocomplete="off"
        formControlName="linkedin"
      />
      <span>Linkedin</span>
    </label>

    <label for="description" class="lbl">
      <textarea
        id="description"
        cols="30"
        rows="15"
        class="input"
        type="text"
        placeholder="Ingrese una descripción"
        autocomplete="off"
        formControlName="description"
      ></textarea>
      <span>Descripción</span>
    </label>

    <div class="img_container">
      <small>Tamañoo máximo de imagen 1MB</small>
      <img
        class="outputImg"
        [src]="image ? image.base64 : '../../../assets/img/picture.png'"
      />
      <button (click)="loadImage()" class="btn">Cargar foto de pérfil</button>
    </div>
    <button class="btn" (click)="sendUser()">Guardar</button>
  </form>
</section>
