<section class="section">
  <p>Ingrese los contenidos que desarrolló en la educación.</p>
  <div class="tags">
    <ng-container *ngFor="let i of ed.tags">
      <p class="add_tag">{{ i.name }} <span (click)="deleteTag(i)">x</span></p>
    </ng-container>
  </div>
  <form class="form">
    <div class="input_container">
      <label for="name" class="lbl"
        ><input
          class="input"
          type="text"
          id="name"
          formControlName="name"
          placeholder="Nombre del contenido"
          autocomplete="off"
        />
        <span>Nombre</span></label
      >

      <div class="allTags" *ngIf="showAllTags">
        <ng-container *ngFor="let i of matchTags">
          <div class="matchTags">
            <p class="op_tag" (click)="tagSelect(i)">
              {{ i.name }}<span>+</span>
            </p>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="img_container">
      <small>Tamañoo máximo de imagen 1MB</small>
      <img
        class="outputImg"
        [src]="image ? image : '../../../assets/img/picture.png'"
      />
      <button (click)="loadImage()" class="btn">Cargar logo</button>
    </div>
    <button class="btn add" (click)="add()">Agregar</button>
  </form>
</section>
