<form class="edith_form" [formGroup]="formHS">
  <label for="name" class="lbl"
    ><input
      class="input"
      type="text"
      id="name"
      formControlName="name"
      autocomplete="off"
      placeholder="Nombre del skill"
    />
    <span>Nombre</span>
  </label>

  <label for="percentage" class="lbl"
    ><input
      class="input"
      type="number"
      id="percentage"
      formControlName="percentage"
      autocomplete="off"
      placeholder="Porcentage en multiplo de 5"
    />
    <span>Porcentaje</span>
  </label>

  <div class="img_container">
    <small>Tamaño máximo de imagen 1MB</small>
    <button (click)="loadImage()" class="btn">Cargar foto de pérfil</button>
    <img
      class="outputImg"
      [src]="image ? image : '../../../assets/img/picture.png'"
    />
  </div>
  <button class="btn" (click)="saveHardSkill()">Guardar</button>
</form>
