<section class="body" *ngIf="!isLogged">
  <form class="form" novalidate [formGroup]="login">
    <h2 class="title">Iniciar Sesión</h2>

    <label for="username" class="lbl"
      ><input
        id="username"
        class="input"
        type="text"
        placeholder="Nombre de usuario"
        autocomplete="off"
        formControlName="username"
      />
      <span>Nombre de usuario</span>
    </label>

    <label for="password" class="lbl"
      ><input
        id="password"
        class="input"
        type="password"
        placeholder="Contraseña"
        autocomplete="off"
        formControlName="password"
      />
      <span>Contraseña</span></label
    >

    <button
      class="btn"
      type="button"
      (click)="enter()"
      [disabled]="login.invalid"
    >
      Entrar
    </button>
  </form>

  <div class="ill_container">
    <img class="illustration" src="assets/img/illustrations/login.png" />
    <div class="logup">
      <p class="text">¿Aún no tienes una cuenta?</p>
      <button class="btn" routerLink="/login/new">Registrarse</button>
    </div>
  </div>

  <!------------------- Registrarse-------------------------- -->
</section>
<section class="body" *ngIf="isLogged">
  <div class="login">
    <h2 class="title">Ya inició sesión</h2>
    <p>Redirigiendo...</p>
    <a class="btn" routerLink="">Regresar</a>
  </div>
</section>
<app-new-registration *ngIf="isLogged"></app-new-registration>
