<form class="form" [formGroup]="formEd">
  <div class="input_container">
    <input
      class="input_text"
      type="text"
      (focus)="name.classList.add('active')"
      id="name"
      formControlName="name"
      autocomplete="off"
      placeholder="Nombre de la educación"
    />
    <label
      for="money"
      [ngClass]="edithEd.id ? 'active' : ''"
      class="label"
      #name
      >Nombre</label
    >
  </div>

  <div class="input_container">
    <input
      class="input_text"
      type="text"
      (focus)="link.classList.add('active')"
      id="link"
      formControlName="link"
      autocomplete="off"
      placeholder="Link a la descripción o homepage"
    />
    <label for="link" class="label" [ngClass]="edithEd.id ? 'active' : ''" #link
      >Link</label
    >
  </div>
  <button class="btn status" (click)="this.edFinish = !this.edFinish">
    {{ this.edFinish ? "Finalizado" : "En Progreso" }}
  </button>
  <div class="img_container">
    <small>Tamaño máximo de imagen 1MB</small>

    <label for="file" class="btn"
      >Imagen o banner<input id="file" class="img_file" (focus)="onchange()"
    /></label>

    <img *ngIf="image" class="outputImg" [src]="image" />
  </div>
  <button class="btn" (click)="saveEducation()">Guardar</button>
</form>
<app-tags *ngIf="this.edId != 0" [edId]="edId"></app-tags>
<button class="btn" (click)="finished()">Finalizar</button>
