<section class="presentation body">
  <h2 class="title">Hola!</h2>
  <div class="text_container">
    <p>mi nombre es</p>
    <p class="name">Heber Duarte</p>
    <p>soy Web Developed Full Stack Jr.</p>
  </div>
  <app-skills></app-skills>
</section>

<div class="ill_container">
  <img class="illustration" src="assets/img/illustrations/ill-01.png" />
  <p>{{ usser.description }}</p>
</div>

<ng-container *ngIf="!edithMode">
  <button routerLink="user" class="btn btn_primary">Editar usuario</button>
</ng-container>
